@import url("https://fonts.googleapis.com/css?family=Cardo|Pathway+Gothic+One");
@font-face {
  font-family: 'gothamnarrow-bold';
  src: url(/assets/GothamNarrow-Bold-d57ae00c471b22f14acb0f1c0d85c6f7fa71f869e0800d17a9225ea3573e2c7c.eot);
  src: url(/assets/GothamNarrow-Bold-6a7b3c6dd66c88e7db6eeb6ca64342e2256a61bcd96889b2f6337aca61a0237a.woff) format("woff"), url(/assets/GothamNarrow-Bold-0551ab5fc8f695c9aba63aa36c67dbcde75cac9b2a519ae68ecf3b22319e0b17.ttf) format("truetype"), url(/assets/GothamNarrow-Bold-3ae74879608130c90dcce9ba3c5880fc4691c275b020ab24e423f97b5760a4c0.svg) format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'gothamnarrow-medium';
  src: url(/assets/GothamNarrow-Medium-98cee977a15c57a21362d8fb568a28f3b51cf6482c59f96c5b178f1f92f97fc6.eot);
  src: url(/assets/GothamNarrow-Medium-a5d958be76e970124b20b9d17b84962fae1ad78a436652cf10194ac5fb3ab27f.woff) format("woff"), url(/assets/GothamNarrow-Medium-499795185602d83441db9eb840be0b0ea6b4f2070cacf5156752e04d783e36c6.ttf) format("truetype"), url(/assets/GothamNarrow-Medium-4856ba2872bf2f9f83d9946ca089ed87b85535efae0001fb21ed7b988f1ac469.svg) format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'gothamnarrow-light';
  src: url(/assets/GothamNarrow-Light-13479aeca47bfa4d8ec0684c48d404efe3ecc07900130ab380b7fa817a5f65ac.eot);
  src: url(/assets/GothamNarrow-Light-488d72b17fc78620a4fd29b62155330d0201d7570256dfd93a69f2bba5464517.woff) format("woff"), url(/assets/GothamNarrow-Light-bd7f914a0d398f8062f60af56d0b769932832f0a28c58c2bddb85e4a8c4eb477.ttf) format("truetype"), url(/assets/GothamNarrow-Light-ac87c8b4c738217b987ba9fb5a035665fe8ee6434fd815ddbe88759ed531c4a2.svg) format("svg");
  font-weight: normal;
  font-style: normal;
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
/* line 6, /Users/ziserman/work/h4/portfolio/app/assets/stylesheets/base/_reset.scss */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 16, /Users/ziserman/work/h4/portfolio/app/assets/stylesheets/base/_reset.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 19, /Users/ziserman/work/h4/portfolio/app/assets/stylesheets/base/_reset.scss */
body {
  line-height: 1;
}

/* line 22, /Users/ziserman/work/h4/portfolio/app/assets/stylesheets/base/_reset.scss */
ol, ul {
  list-style: none;
}

/* line 25, /Users/ziserman/work/h4/portfolio/app/assets/stylesheets/base/_reset.scss */
blockquote, q {
  quotes: none;
}

/* line 29, /Users/ziserman/work/h4/portfolio/app/assets/stylesheets/base/_reset.scss */
blockquote:before, blockquote:after {
  content: '';
  content: none;
}

/* line 34, /Users/ziserman/work/h4/portfolio/app/assets/stylesheets/base/_reset.scss */
q:before, q:after {
  content: '';
  content: none;
}

/* line 38, /Users/ziserman/work/h4/portfolio/app/assets/stylesheets/base/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 2, /Users/ziserman/work/h4/portfolio/app/assets/stylesheets/base/_base.scss */
* {
  box-sizing: border-box;
}

/* line 5, /Users/ziserman/work/h4/portfolio/app/assets/stylesheets/base/_base.scss */
body, html {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  width: 100%;
  font-family: "gothamnarrow-light";
  font-size: 0.9331em;
  line-height: 21px;
  color: #F8F8F8;
}

/* line 14, /Users/ziserman/work/h4/portfolio/app/assets/stylesheets/base/_base.scss */
h1 {
  font-family: "gothamnarrow-light";
  font-size: 2.21013em;
  line-height: 50px;
}

/* line 19, /Users/ziserman/work/h4/portfolio/app/assets/stylesheets/base/_base.scss */
h2 {
  font-family: "gothamnarrow-light";
  font-size: 2.21013em;
  line-height: 40px;
}
/* line 23, /Users/ziserman/work/h4/portfolio/app/assets/stylesheets/base/_base.scss */
h2 a {
  line-height: 50px;
}

/* line 27, /Users/ziserman/work/h4/portfolio/app/assets/stylesheets/base/_base.scss */
h3 {
  font-family: "gothamnarrow-light";
  font-size: 1.65802em;
  line-height: 30px;
}
/* line 31, /Users/ziserman/work/h4/portfolio/app/assets/stylesheets/base/_base.scss */
h3 a {
  line-height: 40px;
}

/* line 35, /Users/ziserman/work/h4/portfolio/app/assets/stylesheets/base/_base.scss */
h4 {
  font-family: "gothamnarrow-light";
  font-size: 1.24382em;
  line-height: 25px;
}

/* line 41, /Users/ziserman/work/h4/portfolio/app/assets/stylesheets/base/_base.scss */
img {
  display: block;
  width: auto;
  height: 100%;
}

/* line 47, /Users/ziserman/work/h4/portfolio/app/assets/stylesheets/base/_base.scss */
a {
  color: #F8F8F8;
}

/* line 50, /Users/ziserman/work/h4/portfolio/app/assets/stylesheets/base/_base.scss */
p {
  line-height: 20px;
}

@media screen and (min-width: 0px) {
  /* line 1, /Users/ziserman/work/h4/portfolio/app/assets/stylesheets/desktop/macro/_main.scss */
  #main {
    position: relative;
    width: 100%;
    text-align: center;
  }

  /* line 1, /Users/ziserman/work/h4/portfolio/app/assets/stylesheets/desktop/macro/_section.scss */
  section {
    height: 100vh;
    display: block;
  }
  /* line 4, /Users/ziserman/work/h4/portfolio/app/assets/stylesheets/desktop/macro/_section.scss */
  section .container {
    padding: 50px 25px 30px 25px;
    width: 100%;
    height: 100vh;
    position: absolute;
  }

  /* line 1, /Users/ziserman/work/h4/portfolio/app/assets/stylesheets/desktop/pages/_home.scss */
  #home {
    background-color: black;
    color: #F8F8F8;
  }
  /* line 4, /Users/ziserman/work/h4/portfolio/app/assets/stylesheets/desktop/pages/_home.scss */
  #home .title-container {
    margin: 40px 0 20px;
  }
  /* line 7, /Users/ziserman/work/h4/portfolio/app/assets/stylesheets/desktop/pages/_home.scss */
  #home a.project-link {
    text-decoration: none;
  }
  /* line 9, /Users/ziserman/work/h4/portfolio/app/assets/stylesheets/desktop/pages/_home.scss */
  #home a.project-link p {
    margin-bottom: 10px;
  }
  /* line 11, /Users/ziserman/work/h4/portfolio/app/assets/stylesheets/desktop/pages/_home.scss */
  #home a.project-link p:hover {
    text-decoration: underline;
  }
  /* line 14, /Users/ziserman/work/h4/portfolio/app/assets/stylesheets/desktop/pages/_home.scss */
  #home a.project-link p .project {
    text-transform: uppercase;
    font-size: 1.2em;
    font-family: "gothamnarrow-light";
  }
  /* line 19, /Users/ziserman/work/h4/portfolio/app/assets/stylesheets/desktop/pages/_home.scss */
  #home a.project-link p .space {
    display: inline-block;
    width: 20px;
  }
  /* line 23, /Users/ziserman/work/h4/portfolio/app/assets/stylesheets/desktop/pages/_home.scss */
  #home a.project-link p .skills {
    font-family: "gothamnarrow-light";
    font-size: 0.8em;
  }
  /* line 31, /Users/ziserman/work/h4/portfolio/app/assets/stylesheets/desktop/pages/_home.scss */
  #home .contact-container {
    position: absolute;
    left: 0;
    bottom: 25px;
    width: 100%;
  }
  /* line 36, /Users/ziserman/work/h4/portfolio/app/assets/stylesheets/desktop/pages/_home.scss */
  #home .contact-container a {
    text-decoration: none;
  }
  /* line 39, /Users/ziserman/work/h4/portfolio/app/assets/stylesheets/desktop/pages/_home.scss */
  #home .contact-container .github {
    color: #FFFC25;
  }
  /* line 42, /Users/ziserman/work/h4/portfolio/app/assets/stylesheets/desktop/pages/_home.scss */
  #home .contact-container .contact {
    color: #25F0FF;
  }
}
