/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
/* line 6, /Users/ziserman/work/h4/portfolio/app/assets/stylesheets/base/_reset.scss */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 16, /Users/ziserman/work/h4/portfolio/app/assets/stylesheets/base/_reset.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 19, /Users/ziserman/work/h4/portfolio/app/assets/stylesheets/base/_reset.scss */
body {
  line-height: 1;
}

/* line 22, /Users/ziserman/work/h4/portfolio/app/assets/stylesheets/base/_reset.scss */
ol, ul {
  list-style: none;
}

/* line 25, /Users/ziserman/work/h4/portfolio/app/assets/stylesheets/base/_reset.scss */
blockquote, q {
  quotes: none;
}

/* line 29, /Users/ziserman/work/h4/portfolio/app/assets/stylesheets/base/_reset.scss */
blockquote:before, blockquote:after {
  content: '';
  content: none;
}

/* line 34, /Users/ziserman/work/h4/portfolio/app/assets/stylesheets/base/_reset.scss */
q:before, q:after {
  content: '';
  content: none;
}

/* line 38, /Users/ziserman/work/h4/portfolio/app/assets/stylesheets/base/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 2, /Users/ziserman/work/h4/portfolio/app/assets/stylesheets/base/_base.scss */
* {
  box-sizing: border-box;
}

/* line 5, /Users/ziserman/work/h4/portfolio/app/assets/stylesheets/base/_base.scss */
body, html {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  width: 100%;
  font-family: "Reem Kufi", sans-serif;
  font-size: 0.99975em;
  background-color: #F8F8F8;
}

/* line 14, /Users/ziserman/work/h4/portfolio/app/assets/stylesheets/base/_base.scss */
h1 {
  font-family: "Questrial", sans-serif;
  font-size: 3.15655em;
}

/* line 18, /Users/ziserman/work/h4/portfolio/app/assets/stylesheets/base/_base.scss */
h2 {
  font-family: "Questrial", sans-serif;
  font-size: 2.368em;
}

/* line 22, /Users/ziserman/work/h4/portfolio/app/assets/stylesheets/base/_base.scss */
h3 {
  font-family: "Questrial", sans-serif;
  font-size: 1.77644em;
}

/* line 26, /Users/ziserman/work/h4/portfolio/app/assets/stylesheets/base/_base.scss */
h4 {
  font-family: "Questrial", sans-serif;
  font-size: 1.33267em;
}

/* line 31, /Users/ziserman/work/h4/portfolio/app/assets/stylesheets/base/_base.scss */
img {
  display: block;
  width: auto;
  height: 100%;
}

@media screen and (min-width: 700px) {
  /* line 1, /Users/ziserman/work/h4/portfolio/app/assets/stylesheets/desktop/macro/_main.scss */
  #main {
    position: relative;
    width: 100%;
    overflow: hidden;
  }
  /* line 5, /Users/ziserman/work/h4/portfolio/app/assets/stylesheets/desktop/macro/_main.scss */
  #main .wrapper {
    position: absolute;
    width: 100%;
    -webkit-transition: top 0.5s ease;
    -moz-transition: top 0.5s ease;
    transition: top 0.5s ease;
    top: 0vh;
  }

  /* line 1, /Users/ziserman/work/h4/portfolio/app/assets/stylesheets/desktop/macro/_section.scss */
  section {
    height: 100vh;
    display: block;
  }
  /* line 4, /Users/ziserman/work/h4/portfolio/app/assets/stylesheets/desktop/macro/_section.scss */
  section .container {
    padding: 28px;
    width: 100%;
    height: 100vh;
    position: absolute;
  }

  /* line 1, /Users/ziserman/work/h4/portfolio/app/assets/stylesheets/desktop/micro/_navigation.scss */
  nav {
    height: 100%;
    width: 125px;
    display: inline-flex;
  }
  /* line 5, /Users/ziserman/work/h4/portfolio/app/assets/stylesheets/desktop/micro/_navigation.scss */
  nav ul {
    height: 100%;
    list-style-type: none;
    margin: 0;
    padding: 20px 0;
    width: 125px;
    background-color: #F8F8F8;
  }
  /* line 12, /Users/ziserman/work/h4/portfolio/app/assets/stylesheets/desktop/micro/_navigation.scss */
  nav ul li a {
    display: block;
    color: #484C55;
    padding: 8px 16px;
    text-decoration: none;
  }
  /* line 17, /Users/ziserman/work/h4/portfolio/app/assets/stylesheets/desktop/micro/_navigation.scss */
  nav ul li a:hover {
    background-color: #484C55;
    color: #F8F8F8;
  }
  /* line 21, /Users/ziserman/work/h4/portfolio/app/assets/stylesheets/desktop/micro/_navigation.scss */
  nav ul li a.active {
    background-color: #484C55;
    color: #F8F8F8;
  }

  /* line 1, /Users/ziserman/work/h4/portfolio/app/assets/stylesheets/desktop/pages/_home.scss */
  #home {
    background-color: black;
    color: white;
  }

  /* line 3, /Users/ziserman/work/h4/portfolio/app/assets/stylesheets/desktop/pages/_projects.scss */
  #projects .container .projects_container {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
  }
  /* line 8, /Users/ziserman/work/h4/portfolio/app/assets/stylesheets/desktop/pages/_projects.scss */
  #projects .container .projects_container .projects {
    position: absolute;
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-transition: left 0.5s ease;
    -moz-transition: left 0.5s ease;
    transition: left 0.5s ease;
    left: 0;
    height: 100%;
  }
  /* line 14, /Users/ziserman/work/h4/portfolio/app/assets/stylesheets/desktop/pages/_projects.scss */
  #projects .container .projects_container .projects .project {
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 28px;
    width: 100%;
    height: 100%;
    background-color: #aaa;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    box-orient: vertical;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    box-direction: normal;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    flex-direction: column;
    -ms-flex-direction: column;
  }
  /* line 21, /Users/ziserman/work/h4/portfolio/app/assets/stylesheets/desktop/pages/_projects.scss */
  #projects .container .projects_container .projects .project .headline {
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -moz-box-pack: justify;
    box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    -o-justify-content: space-between;
    justify-content: space-between;
    -ms-flex-pack: justify;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    box-orient: horizontal;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    box-direction: normal;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    flex-direction: row;
    -ms-flex-direction: row;
    margin-bottom: 28px;
  }
  /* line 27, /Users/ziserman/work/h4/portfolio/app/assets/stylesheets/desktop/pages/_projects.scss */
  #projects .container .projects_container .projects .project .baseline {
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -moz-box-pack: justify;
    box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    -o-justify-content: space-between;
    justify-content: space-between;
    -ms-flex-pack: justify;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    box-orient: horizontal;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    box-direction: normal;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    flex-direction: row;
    -ms-flex-direction: row;
  }
  /* line 31, /Users/ziserman/work/h4/portfolio/app/assets/stylesheets/desktop/pages/_projects.scss */
  #projects .container .projects_container .projects .project .baseline .picture_container {
    margin-left: 28px;
  }
}
