$modular-scale-base: 0.75em;
* {
	box-sizing: border-box;
}
body, html {
	@include display(flex);
	height: 100%;
	width: 100%;
	font-family: $base-font;
	font-size: modular-scale(1);

	background-color: $white;
}
h1 {
	font-family: $title-font;
	font-size: modular-scale(5);
}
h2 {
	font-family: $title-font;
	font-size: modular-scale(4);
}
h3 {
	font-family: $title-font;
	font-size: modular-scale(3);
}
h4 {
	font-family: $title-font;
	font-size: modular-scale(2);
}

img {
	display: block;
	width: auto;
	height: 100%;
}