$modular-scale-base: 0.7em;
* {
	box-sizing: border-box;
}
body, html {
	@include display(flex);
	height: 100%;
	width: 100%;
	font-family: $light-font;
	font-size: modular-scale(1);
	line-height: 21px;
	color: $white;
}
h1 {
	font-family: $bold-font;
	font-size: modular-scale(5);
	line-height: 100px;
}
h2 {
	font-family: $bold-font;
	font-size: modular-scale(4);
	line-height: 40px;
	a {
		line-height: 50px;
	}
}
h3 {
	font-family: $bold-font;
	font-size: modular-scale(3);
	line-height: 30px;
	a {
		line-height: 40px;
	}
}
h4 {
	font-family: $bold-font;
	font-size: modular-scale(2);
	line-height: 25px;
}

img {
	display: block;
	width: auto;
	height: 100%;
}

a {
	color: $white;
}
p {
	line-height: 20px;
}