#contact {
	.container {
		@include display(flex);
		.new_offer {
			width: 100%;
			input {
				width: 100%;
				padding: 12px 20px;
				margin: 8px 0;
				&#offer_message {
					height: 150px;
				}
			}
		}
	}
}