#projects {
	.container {
		.next {
			@include triangle(24px, $black, right);
			position: absolute;
			top: 50%;
			right: 6px;
			cursor: pointer;
		}
		.previous {
			@include triangle(24px, $black, left);
			position: absolute;
			top: 50%;
			left: 6px;
			cursor: pointer;
		}
		.projects_container {
			position: relative;
			overflow: hidden;
			width: 100%;
			height: 100%;
			.projects {
				position: absolute;
				@include display(flex);
				@include transition(left 0.5s ease);
				left: 0;
				height: 100%;
				.project {
					position: relative;
					@include display(flex);
					padding: 28px;
					width: 100%;
					height: 100%;
					@include flex-direction(column);
					.headline {
						@include display(flex);
						@include justify-content(space-between);
						@include flex-direction(row);
						margin-bottom: 28px;
					}
					.baseline {
						@include display(flex);
						@include justify-content(space-between);
						@include flex-direction(row);
						.picture_container {
							margin-left: 28px;
						}
					}
				}
			}
		}
	}
}