#projects {
	width: 100%;
	height: 80%;
	position: relative;
	overflow: hidden;

	.projects {
		position: absolute;
		margin-top: 14px;
		@include align-items(flex-start);
		@include display(flex);
		@include transition(left 0.5s ease);
		@include flex-direction(column);
		left: 0;
		width: 100%;

		.project {
			position: relative;
			@include display(flex);
			padding: 14px;
			display: block;
			overflow: auto;
			cursor: pointer;
			width: 100%;
			border-top: 1px solid white;
			@include flex-direction(column);
			color: $darkest-white;

			&:hover {
				color: $white;
			}

			&:hover a {
				color: $white;
			}

			&:last-child {
				border-bottom: 1px solid white;
			}

			&.active {
				color: $white;
				@include transition(max-height 1s cubic-bezier(0, 1, 0, 1));
				max-height: 1000px;
				.baseline {
					max-height: 1000px;
					@include transition(max-height 1s ease);
				}
			}
			
			&.inactive {
				color: $darkest-white;
				max-height: 10px;
				@include transition(max-height 1s ease);
			}

			.headline {
				@include display(flex);
				@include justify-content(space-between);
				@include flex-direction(row);
			}

			.baseline {
				@include display(flex);
				@include justify-content(space-between);
				@include flex-direction(row);
				@include transition(max-height 1s cubic-bezier(0, 1, 0, 1));
				max-height: 0px;
				overflow: hidden;
			}
		}
	}
}