@import url('https://fonts.googleapis.com/css?family=Cardo|Pathway+Gothic+One');
$base_font: 'Cardo', serif;
$title_font: 'Pathway Gothic One', sans-serif;
$light-font: 'gothamnarrow-light';
$bold-font: 'gothamnarrow-medium';

@font-face {
	font-family: 'gothamnarrow-bold';
	src: font-url('/assets/GothamNarrow-Bold.eot');
	src: local('☺'), 
        font-url('/assets/GothamNarrow-Bold.woff') format('woff'), 
        font-url('/assets/GothamNarrow-Bold.ttf') format('truetype'), 
        font-url('/assets/GothamNarrow-Bold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
  font-family: 'gothamnarrow-medium';
  src: font-url('/assets/GothamNarrow-Medium.eot');
  src: local('☺'), 
        font-url('/assets/GothamNarrow-Medium.woff') format('woff'), 
        font-url('/assets/GothamNarrow-Medium.ttf') format('truetype'), 
        font-url('/assets/GothamNarrow-Medium.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'gothamnarrow-light';
  src: font-url('/assets/GothamNarrow-Light.eot');
  src: local('☺'), 
        font-url('/assets/GothamNarrow-Light.woff') format('woff'), 
        font-url('/assets/GothamNarrow-Light.ttf') format('truetype'), 
        font-url('/assets/GothamNarrow-Light.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}